/* DocInfo */

@mixin off-screen() {
  position: absolute;
  top: -9999999999px;
}

@mixin link-icon($unicode) {
  font: normal normal 500 12pt "FontAwesome";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5em;
  content: $unicode;
}

dl.docinfo {
  & > dt:after {
    display: none;
  }

  & > dt.address, 
  & > .updated,
  & > .copyright {
    @include off-screen();
  }

  & > dt {
    @include off-screen();
    margin: 0;
  }

  & > dd {
    vertical-align: middle;
    margin: 0;

    p {
      display: inline;
    }

    @media (min-width: 600px) {
      margin-right: 1em;
    }
  }

  dd.address {
    position: absolute;
    right: 0;
    top: 0;  
    text-align: right;

    pre {
      margin: 0;
    }
  }

  dd.copyright {
    bottom: 0;
  }

  dd.email::before {
    @include link-icon('\f0e0');  
    font-size: 10pt;
  }
  
  dd.website::before {  
    @include link-icon('\f015');  
  }
  
  dd.github::before {  
    @include link-icon('\f09b');  
  }

  @media (min-width: 600px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}