@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* General */

@page { 
  size: auto;
  margin: 0;  
}

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  padding: 0;
}

body {
  padding: 0.25in;
  max-width: none;
}
 
dd {
  -webkit-margin-start: 0;
}

@import 'document.scss';
@import 'docinfo.scss';
@import 'sections.scss';