@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

div.document {
  position: relative;
  max-width: 53rem;
  font-size: 14px;
}

.document .title {
  text-align: left;
}

.contact {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.links {
  display: flex;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
  text-transform: capitalize;
}

.links li {
  margin-right: 0.5em;
}

hr.docutils {
  width: 100%;
}

h1:not(.title) {
  font-size: 1.4em
}

#experience dt, #education dt {
  text-align: right;
  margin-bottom: -1.8em;
}

#experience dd, #education dd {
  -webkit-margin-start: 0;
}

#skills dl {
  columns: 2 auto;
}

#skills dl > dt {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

#skills dl > dd {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-margin-start: 0;
}

@page { 
    size: auto;
    margin: 0;  
} 
